@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Poppins:wght@300;400;500&display=swap");

//colors
$primary: #f55c4a;
$secondary: #242c53;
$orange: #fac13b;
$white: #ffffff;

//body
$body-bg: $secondary;
$body-color: $primary;
$theme-colors: (
  "primary": $primary,
);
$page-width: 85%;
$page-width-mb: 90%;
$height-section: 100vh;
$height-section-mb: 100%;

//navbar
$navbar-dark-color: $primary;
$navbar-dark-hover-color: rgba($primary, 0.75) !default;
$navbar-dark-active-color: $primary;

//font
$font-family-base: "Poppins", sans-serif;
$font-family-code: "Open Sans", sans-serif;

//text
$lead-font-size: 1.5rem;

//button
$btn-font-size: 1rem;
$btn-font-size-sm: 1rem;
$btn-font-size-lg: 1rem;
$btn-border-radius-lg: 25px;

@mixin btnHover() {
  background-color: $secondary;
  border: thin solid $primary;
  color: $primary;
}

@import "../node_modules/bootstrap/scss/bootstrap";

.wrapper {
  width: $page-width;
  margin: 0 auto;
}

.btn {
  color: $secondary;
}

//navbar
// navbar
.navbar {
  padding: 1rem;
}

// header
header {
  height: $height-section;
  .jumbotron {
    .jumbotron-content {
      .jumbotron-text {
        flex: 50%;

        .lead {
          color: $orange;
        }

        h1 {
          font-size: 4.5rem;

          span {
            display: block;
          }
        }

        .btn {
          width: 25%;
        }

        .btn:hover {
          @include btnHover();
        }
      }

      .jumbotron-image {
        flex: 50%;

        img {
          width: 100%;
        }
      }
    }
  }

  .social-media {
    i {
      font-size: 2rem;
    }
  }
}

//main - about me
#aboutMe {
  height: $height-section;
  .about-me-content {
    .about-me-img {
      flex: 50%;
      img {
        width: 100%;
      }
    }

    .about-me-text {
      flex: 50%;
      padding: 3rem;

      p {
        color: $white;
        font-family: $font-family-code;
        text-align: justify;
      }

      .btn {
        margin: 0 auto;
        width: 40%;
      }

      .btn:hover {
        @include btnHover();
      }
    }
  }
}

//main - skills and projects
#skillsAndProjects {
  height: $height-section;

  // .projects-content {
  //   img {
  //     cursor: pointer;
  //     width: 100%;
  //   }
  // }
}

//main - contact
#contact {
  height: $height-section;
  .contact-content {
    .contact-img {
      img {
        width: 75%;
        margin: 0 auto;
      }
      .social-media {
        i {
          color: $primary;
          font-size: 1.875rem;
        }
      }
    }
    .contact-text {
      h5 {
        font-size: 1.5rem;
        font-weight: 500;
      }

      .contact-icon {
        margin: 0.5rem 1rem 0.5rem 0;
        width: 10%;
      }

      p {
        color: $white;
        font-family: $font-family-code;
        margin: auto 0;
      }
    }
  }
}

// footer
#footer {
  background-color: $primary;

  p {
    color: $secondary;
  }
}

//tablet
@include media-breakpoint-down(lg) {
  // navbar
  .navbar-nav {
    .nav-link {
      text-align: center;
    }
  }

  // header
  header {
    .jumbotron {
      padding-top: 3rem;
      .jumbotron-content {
        flex-direction: column;
        .jumbotron-text {
          flex: 100%;
          order: 2;
          .lead {
            font-size: 1.25rem;
            font-weight: 300;
          }

          h1 {
            font-size: 3rem;

            span {
              display: inline;
            }
          }

          .btn {
            width: 100%;
          }
        }

        .jumbotron-image {
          order: 1;
          img {
            width: 100%;
          }
        }
      }
    }

    .social-media {
      i {
        display: none;
      }
    }
  }

  //main - about me
  #aboutMe {
    .about-me-content {
      flex-direction: column;
      .about-me-img {
        flex: 100%;
      }

      .about-me-text {
        flex: 100%;
        padding: 2rem 0 0 0;

        h4 {
          font-size: 1.125rem;
        }

        p {
          font-size: 0.875rem;
        }

        .btn {
          width: 100%;
        }
      }
    }
  }

  //main - skills and projects
  #skillsAndProjects {
    .icon-top {
      flex-direction: column;

      .icon-top-a,
      .icon-top-b {
        display: flex;
        justify-content: center;
        img {
          width: 27%;
        }
      }
    }

    .icon-btm {
      img {
        width: 27%;
      }
    }
    // .projects-content {
    //   img {
    //     cursor: pointer;
    //     width: 100%;
    //   }
    // }
  }

  //main - contact
  #contact {
    .contact-content {
      flex-direction: column;
      .contact-img {
        img {
          width: 80%;
        }
      }
      .contact-text {
        padding: 3rem;

        .contact-icon {
          width: 8%;
        }
      }
    }
  }
}

// phones
@include media-breakpoint-down(md) {
  .wrapper {
    width: $page-width-mb;
    margin: 0 auto;
  }

  //navbar
  .navbar {
    padding: 0.5rem;
  }

  //header
  header {
    height: $height-section-mb;
    .jumbotron {
      .jumbotron-content {
        .jumbotron-text {
          .lead {
            font-size: 1.125rem;
          }

          h1 {
            font-size: 2.25rem;

            span {
              display: inline;
            }
          }
        }
      }
    }
  }

  //main - about me
  #aboutMe {
    height: $height-section-mb;
    .about-me-content {
      .about-me-text {
        padding: 2rem 0 0 0;

        h4 {
          color: $white;
          font-size: 0.875rem;
          text-align: justify;
        }

        p {
          display: none;
        }

        .btn {
          margin-top: 2rem;
        }
      }
    }
  }

  //main - skills and projects
  #skillsAndProjects {
    height: $height-section-mb;
    .icon-top {
      .icon-top-a,
      .icon-top-b {
        img {
          width: 30%;
        }
      }
    }

    .icon-btm {
      img {
        width: 30%;
      }
    }
  }

  //main - contact
  #contact {
    height: $height-section-mb;
    .contact-content {
      .contact-img {
        .social-media {
          i {
            font-size: 1.5rem;
          }
        }
        img {
          width: 75%;
          margin: 0 auto;
        }
      }
      .contact-text {
        padding: 1rem;

        h5 {
          font-size: 0.875rem;
        }

        .email,
        .telephone {
          p {
            font-size: 0.75rem;
          }
        }

        .contact-icon {
          width: 10%;
        }
      }
    }
  }

  #footer {
    p {
      font-size: 0.75rem;
    }
  }
}
