@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Poppins:wght@300;400;500&display=swap");

// //font
// $primary-font: "Poppins", sans-serif;
// $secondary-font: "Open Sans", sans-serif;

// //color
// $navy: #242c53;
// $orange-1: #f55c4a;
// $orange-2: #fac13b;
// $white: #ffffff;

// //page
// @mixin layoutPage($width: 85%) {
//   height: 100vh;
//   margin: 0 auto;
//   width: $width;
// }

// //background
// @mixin backgroundImage($url) {
//   background-image: $url;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

// //button
// @mixin primaryButton($width: 100%) {
//   background-color: $orange-1;
//   border: none;
//   border-radius: 25px;
//   font-size: 0.875rem;
//   width: $width;
// }

// @mixin buttonHover() {
//   background-color: $white;
//   border: thin solid $orange-1;
//   color: $orange-1;
// }

// * {
//   box-sizing: border-box;
//   font-family: $primary-font;
//   margin: 0;
//   padding: 0;
// }

// .wrapper {
//   @include layoutPage();
// }

// body {
//   background-color: $navy;

//   .navbar-nav {
//     .nav-item {
//       &-link {
//         // color: $primary;
//       }
//     }
//   }
// }

// @media screen and (max-width: 769px) {
//   .wrapper {
//     @include layoutPage(90%);
//   }
// }

//colors
$primary: #f55c4a;
$secondary: #242c53;
$orange: #fac13b;
$white: #ffffff;

//body
$body-bg: $secondary;
$body-color: $primary;
$theme-colors: (
  "primary": $primary,
  //"danger": $danger,
);
$page-width: 85%;
$page-width-mb: 90%;
$height-section: 100vh;

//navbar
$navbar-dark-color: $primary;
$navbar-dark-hover-color: rgba($primary, 0.75) !default;
$navbar-dark-active-color: $primary;

//font
$font-family-base: "Poppins", sans-serif;
$font-family-code: "Open Sans", sans-serif;

//text
$lead-font-size: 1.5rem;

//button
$btn-font-size: 1rem;
$btn-font-size-sm: 1rem;
$btn-font-size-lg: 1rem;
// $btn-border-radius: 25px;
//$btn-border-radius-sm: 25px;
$btn-border-radius-lg: 25px;

@mixin btnHover() {
  background-color: $secondary;
  border: thin solid $primary;
  color: $primary;
}

@import "../node_modules/bootstrap/scss/bootstrap";

.wrapper {
  width: $page-width;
  margin: 0 auto;
}

.btn {
  color: $secondary;
}

// navbar
.navbar-nav {
  .nav-link {
  }
}

// header
header {
  height: $height-section;
  .jumbotron {
    .jumbotron-content {
      .jumbotron-text {
        flex: 50%;

        .lead {
          color: $orange;
        }

        h1 {
          font-size: 4.5rem;

          span {
            display: block;
          }
        }

        .btn {
          width: 25%;
        }

        .btn:hover {
          @include btnHover();
        }
      }

      .jumbotron-image {
        flex: 50%;

        img {
          width: 100%;
        }
      }
    }
  }

  .social-media {
    i {
      font-size: 2rem;
    }
  }
}

//main - about me
#aboutMe {
  height: $height-section;
  .about-me-content {
    .about-me-img {
      flex: 50%;
      img {
        width: 100%;
      }
    }

    .about-me-text {
      flex: 50%;
      padding: 3rem;

      p {
        color: $white;
        font-family: $font-family-code;
        text-align: justify;
      }

      .btn {
        margin: 0 auto;
        width: 40%;
      }

      .btn:hover {
        @include btnHover();
      }
    }
  }
}

//main - skills and projects
#skillsAndProjects {
  height: $height-section;

  .projects-content {
    img {
      width: 100%;
    }
  }
}

//mobile
@include media-breakpoint-down(md) {
  .wrapper {
    width: $page-width-mb;
    margin: 0 auto;
  }

  // navbar
  .navbar-nav {
    .nav-link {
      text-align: center;
    }
  }

  // header
  header {
    .jumbotron {
      .jumbotron-content {
        flex-direction: column;
        margin-top: 1rem;
        .jumbotron-text {
          flex: 100%;
          order: 2;

          .lead {
            font-size: 1.125rem;
            font-weight: 300;
          }

          h1 {
            font-size: 2.25rem;
          }

          .btn {
            width: 100%;
          }
        }

        .jumbotron-image {
          flex: 100%;
          order: 1;

          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .social-media {
      i {
        display: none;
      }
    }
  }

  //main - about me
  #about-me {
    width: $page-width-mb;
    .about-me-content {
      flex-direction: column;
      margin-top: 1rem;

      .about-me-img {
        flex: 100%;
        margin-bottom: 2rem;
      }

      .about-me-text {
        flex: 100%;
        padding: 0;

        h4 {
          color: $white;
          font-size: 0.875rem;
          text-align: justify;
        }

        p {
          display: none;
        }

        .btn {
          margin: 2rem 0 0 0;
          width: 100%;
        }
      }
    }
  }

  //main - skills and projects
  #skillsAndProjects {
    .icon-top {
      flex-direction: column;

      .icon-top-a,
      .icon-top-b {
        display: flex;
        justify-content: center;
        img {
          width: 30%;
        }
      }
    }

    .icon-btm {
      img {
        width: 30%;
      }
    }

    .projects-content {
    }
  }
}
